
.Main {
    width:100%;

}
.App-header {
   display: flex;
   background-color: rgb(5, 9, 71);
   padding-left: 6px;
   margin: 0px 0px 1px 0px;
   box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.light{
    color: rgb(243, 252, 249);
    margin-top: 8px;
    padding-left: 20px;
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}

.lists {
    margin-top: 14px;
    margin-left: 750px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

ul li {
    float: left;
    width: 100px;
    height: 40px;
    background-color: rgb(5, 9, 71);
    line-height: 40px;
    text-align: center;
    margin-right: 2px;
    font-size: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5); 
}

ul li a:hover {
    background-color:  rgb(5, 9, 71);
}

.App-header ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}
@media (max-width: 768px){ 
   .main
   header nav,
   header nav li, 
   header  span .highlight, 
   header .lists {

      float: none;
      text-align: center;
      width: 100%;
   }

    .App-header {
        padding-bottom: 20px;
        height: 50px;
    }

     ul li ul li{
        float: center;
        display: none;
        
    }

    .App-header h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
        
    }

    .App-header img {
        height: 30px;
    }
}